<% include _header %>

<h1>Actualiza tu perfil</h1>
<form action="/edit" method="post">
    <div class="form-group">
        <input name="username" type="text" class="form-control" placeholder="Nombre de usuario"
        value="<%= currentUsuario.username || "" %>"/>
    </div>
    <div class="form-group">
        <textarea name="telefono" class="form-control" placeholder="telefono"><%= currentUsuario.telefono || ""%></textarea>
    </div>
    <input type="submit" value="Actualizar" class="btn btn-primary btn-block"/>
</form>

<% include _footer %>